#admin{
    #header{
        .header__notification{
            i{
                font-size: 30px;
                @extend .grey;
                transition: 0.5s all;
            }

            i:hover{
                @extend .blue;
            }
        }

        .header__profile{
            .profile-image{
                height: 50px;
                width: 50px;
                background-color: rgb(206, 206, 206);
                border-radius: 50%;    
                background-position: center;
                background-size: cover;  
                transition: 0.5s all;          
            }

            .profile-image:hover{
                transform: translateY(-5px);
            }
        }
    }
}