#admin{
    #body{
        #quotations{ 
            .quotations__main-container{
                padding: 30px;
                border-radius: 20px;
                    -webkit-box-shadow: 0px 0px 30px 0px rgba(213, 215, 246, 0.4);
                    -moz-box-shadow:    0px 0px 30px 0px rgba(213, 215, 246, 0.4);
                    box-shadow:         0px 0px 30px 0px rgba(213, 215, 246, 0.4);
                .main-container__all-quotations-box{
                    overflow-x: hidden;
                    .all-quotations-box__quotations{
                        .quotations__container{
                            .container__quotation-single{
                                border-bottom: 1px solid rgb(204, 204, 204);
                                padding-bottom: 15px;

                                .quotation-single__status{
                                    .status--new{
                                        @extend .red;
                                        @extend .regular;
                                    }
                                    .status--pending{
                                        @extend .orange;
                                        @extend .regular;
                                    }
                                }

                                .quotation-single__issues{
                                    .issues__single-issue{
                                        padding: 5px; 
                                        padding-right:10px; 
                                        border-radius:20px;
                                        @extend .m-top-5;
                                        @extend .m-btm-5;
                                        @extend .m-left-5;

                                        &:first-child{
                                            margin-left: 0px !important;
                                        }

                                        .single-issue__text{
                                            @extend .m-left-5;
                                            @extend .small;
                                            @extend .bold;
                                        }
                                    }

                                    
                                }
                                
                                .quotation-single__accept-delete-drop-arrow{
                                    .quotation-single__accept,.quotation-single__drop-arrow{
                                        @extend .blue;
                                    }
                                    .quotation-single__delete{
                                        @extend .red;
                                    }                                    
                                    *{
                                        transition: 0.2s all;
                                        transform-origin: center;
                                        &:hover{
                                            transform: scale(1.2);
                                        }
                                    }
                                }

                                .form-container--input-text{
                                    height: 35px !important;
                                }

                                .form-container--button{
                                    width: 100%;
                                }

                                .quotation-single__user-details-quote-form{
                                    .quotation-single__user-details{
                                        .user-details__no-details{
                                            height: 100%; width:100%
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}