/*-----------
blue
#0007AC

light blue
#EBF7FE

black
 #0D0D0D


 ------*/

.white{
    color: white;
}

.blue{
    color: #0007AC;
}

.bg-blue{
      background-color:#0007AC;
}

.bg-green{
    background-color: #1acc8d;
}
