/*-----------
blue
#0007AC

light blue
#EBF7FE

black
 #0D0D0D


 ------*/
$primary-blue: #0F14A2;
$primary-faded-blue: hsl(240, 84%, 95%);
$primary-white: hsl(0, 0%, 100%);
$primary-grey: rgb(202, 202, 202);
$primary-green: #1acc8d;
$primary-red: #e41616;

.white{
    color: $primary-white;
}

.red{
    color: $primary-red;
}

.blue{
    color: $primary-blue !important;
}

.green{
    color: $primary-green !important;
}

.grey{
    color: $primary-grey;
}

.faded-blue{
    color: $primary-faded-blue;
}

.bg-faded-blue{
    background-color: $primary-faded-blue;
}

.bg-blue{
      background-color:$primary-blue !important;
}

.bg-red{
      background-color:$primary-red !important;
}

.bg-green{
    background-color: $primary-green;
}

.bg-white{
    background-color: $primary-white !important;
}

.display{
    background-color: #FFC1C1 !important;
    color: #FF0000 !important;
}

.water{
    background-color:#C1E1FF !important;
    color: #0084FF !important;
}

.charge{
    background-color: #FFD8C1 !important;
    color: #FF5E00 !important;
}

.battery{
    background-color: #FFC1EA !important;
    color: #FF00A8 !important;
}

.software{
    background-color: #EBFFC1 !important;
    color: #92D700 !important;
}
