.m-top-10{
    margin-top: 10px !important;
  }
  
  .m-top-15{
    margin-top: 15px !important;
  }
 
  .m-top-30{
    margin-top: 30px !important;
  }

  .m-btm-0{
      margin-bottom: 0px !important;
  }

  .m-btm-5{
      margin-bottom: 5px !important;
  }

  .m-btm-10{
      margin-bottom: 10px !important;
  }

  .m-btm-15{
      margin-bottom: 15px !important;
  }


  .m-btm-30{
      margin-bottom: 30px !important;
  }

  .m-left-30{
      margin-bottom: 30px !important;
  }

  .m-left-15{
      margin-left: 15px !important;
  }

  .m-left-5{
      margin-left: 5px !important;
  }

  .m-left-10{
      margin-left: 10px !important;
  }

  .m-right-23{
    margin-right: 15px !important;
  }