.m-top-15{
    margin-top: 15px;
  }
 
  .m-top-30{
    margin-top: 30px;
  }

  .m-btm-0{
      margin-bottom: 0px;
  }

  .m-btm-5{
      margin-bottom: 5px;
  }
  .m-left-15{
      margin-left: 15px;
  }