.header-listing{
    background:#0007AC !important;
  box-shadow:         0px 10px 30px 0px rgba(50, 50, 50, 0.2);
  height: 60px;
}

#shop-listings{
    h5,h6,p{
        margin: 0;
    }
    margin-top: 80px !important;
    .listings__main-container{
        .filter-container{
            padding-left: 0px;
            position: relative;
            .filter__main-container{
                position: sticky;
                top: 60px;
                overflow-y: scroll;
                border-right: 1px solid rgba(75, 75, 75, 0.1);

                .select2-selection__choice{
                    font-size: 12px;
                    padding: 5px 20px 5px 10px;
                    border: none;
                    padding-right: 20px;
                    position: relative;

                    .select2-selection__choice__remove{
                        color: black;
                        position: absolute;
                        right: 2px;
                        border-right: none;
                    }

                    &:hover,&:focus{
                        background-color: unset;
                    }
                }

                .slider-horizontal{
                    width: 100% !important;
                }

                .form-container--button{
                    width: 100%;
                }

                /* width */
                &::-webkit-scrollbar {
                    width: 10px;
                }
                                
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: rgb(224, 224, 224); 
                }
                
                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: rgb(204, 204, 204); 
                }
            }

            .filter__main-container--height{
                height: 91vh;
            }

            // .filter__main-container::-webkit-scrollbar {
            //     display: none;
            //   }
              
              /* Hide scrollbar for IE, Edge and Firefox */
            //   .filter__main-container {
            //     -ms-overflow-style: none;  /* IE and Edge */
            //     scrollbar-width: none;  /* Firefox */
            //   }

              .slider-handle{
                  @extend .bg-blue;
                  background-image: none;
              }

              .slider-track{
                  *{
                      background-color: #F6F6FE;
                  }

                  .slider-selection{
                    background-image: none;
                    background-color: #c1c1ff;

                  }
              }
        }
        .main-container__listings-row{            
            .listings-row__listing-box{                
                .listing-box{
                    transition: 1s all ease-in;
                    .listing-box__bg-image-all-tags{
                        padding-top: 15px;
                        min-height: 180px;
                        position: relative;
                        background-size:cover;
                        background-position: center;
                        transition: 0.5s all;   
                        border-radius: 10px 10px 0 0;
                        .all-tags{
                            height: 40px;

                            .tag{
                                width: 40px;
                                border-radius: 50%;
                                position: relative;
                                transition: 0.3s all;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .tool-tip{
                                padding: 10px;
                                background-color: rgba(0, 0, 0, 0.3);
                                position: absolute;
                                left: 15px;
                                top: 50px;
                                border-radius: 10px;
                                color: white;
                                p{
                                    font-size:12px
                                }
                            }

                            .tool-tip-water{
                                display: none;
                                width: 87px;
                            }

                            .tool-tip-software{
                                display: none;
                                width: 90px;
                            }

                            .tool-tip-battery{
                                display: none;
                                width: 90px;
                            }

                            .battery:hover{
                                .tool-tip-battery{
                                    display: block;
                                    width: 55px;
                                }
                            }

                            .water:hover{
                                .tool-tip-water{
                                    display: block;
                                }
                            }

                            .software:hover{
                                .tool-tip-software{
                                    display: block;
                                }
                            }

                            .more-tag{
                                transform: translate(-15px,5px);
                                transition: 0.3s all;
                            }


                            

                            $a:0;
                            @for $i from 1 through 3{
                                .tag:nth-child(#{$i}){
                                    transform: translateX(-15*$a+px);
                                }
                                $a:$a+1;
                            }
                        
                            &:hover{
                                .tag{
                                    transform: translateX(5px);
                                    margin-left: 5px;
                                }
                                .more-tag{
                                    transform: translate(15px,5px);
                                }
                            }
                            
                        }

                        &::before{
                            position: absolute;
                            left: 0;
                            top: 0;
                            height: 100%;
                            width: 100%;
                            background-color: rgba(0, 0, 0, 0.6);
                            border-radius: 10px 10px 0 0;
                        }
                    }                    

                    

                    .listing-box__profile-picture-username-mail-location-description{
                        border-radius: 0 0 10px 10px;
                        background-color: #F6F6FE;

                        .listing-box__profile-picture{
                            margin-top: -40px !important;
                            .profile-picture{
                                height: 80px;
                                width: 80px;
                                border-radius: 50%;
                                -webkit-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.3);
                                -moz-box-shadow:    0px 10px 30px 0px rgba(50, 50, 50, 0.3);
                                box-shadow:         0px 10px 30px 0px rgba(50, 50, 50, 0.3);
                            }
                        } 

                        .listing-box__username{
                            h5{
                                font-family: Open Sans, sans-serif;
                                font-family: 16px;
                                color: #000;
                            }
                        }
                        
                        .listing-box__location{
                            color: rgb(8, 202, 121);  
                            i{
                                margin-top: 3px !important;
                            }
                        }
                        
                        .listing-box__mail{
                            color: rgb(124, 8, 202);
                            i{
                                margin-top: 5px !important;
                            }
                        }

                        .all-tags{
                            height: 40px;

                            .tag{
                                width: 40px;
                                border-radius: 50%;
                                position: relative;
                                transition: 0.3s all;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .more-tag{
                                transform: translate(-15px,5px);
                                transition: 0.3s all;
                            }


                            $a:0;
                            @for $i from 1 through 3{
                                .tag:nth-child(#{$i}){
                                    transform: translateX(-15*$a+px);
                                }
                                $a:$a+1;
                            }
                        
                            &:hover{
                                .tag{
                                    transform: translateX(5px);
                                    margin-left: 5px;
                                }
                                .more-tag{
                                    transform: translate(15px,5px);
                                }
                            }
                            
                        }

                        .listing-box__description{
                            p{
                                padding: 0 15px;
                                border-right: 1px solid rgb(212, 212, 212);
                            }

                            p:nth-child(1){
                                padding-left: 0;
                            }

                            p:last-child(){
                                border-right: none;

                            }

                        }
                        
                    }
                }

                
            }


        }
    }
}

@media only screen and (max-width: 768px){
    #shop-listings{
        .filter__main-container{
            position: static;
            height: default;
        }
    }
}